[Unit]
Description=OctoPi settings service
DefaultDependencies=no
Before=paths.target
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/bin/octopi-settings
RemainAfterExit=yes

[Install]
WantedBy=paths.target