[Unit]
Description=OctoPi settings service
DefaultDependencies=no
Before=basic.target
After=local-fs.target

[Service]
Type=simple
ExecStart=/usr/bin/octopi-settings

[Install]
WantedBy=basic.target